<!-- add-edit-form.component.html -->
<div class="modal" tabindex="-1" role="dialog" id="statsModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <div class="row">
          <div>
            <canvas id="statisticsChart"></canvas>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Fermer</button>
      </div>
    </div>
  </div>
</div>
